body    {
    background-image: url("../images/light_bulb.jpg");
    background-position: center;
    background-size: cover;
}
.container {
    color:white;
    padding: 20px 10px;
    width: 600px;
    margin:auto;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    background-color:transparent;
    text-align: center;
}
.header {
    text-align: center;
    color: white;
}