body    {
    background-image: url("../images/light_bulb.jpg");
    background-position: center;
    background-size: cover;
}
.container {
    color:cornsilk;
    padding: 20px 10px;
    width: 600px;
    margin:auto;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    background-color:transparent;
    text-align: center;
    font-family: Papyrus,fantasy; 
}
.header {
    text-align: center;
    color: cornsilk;
    font-family: Papyrus,fantasy; 
}
hr  {
    width: 550px;
    color: cornsilk;
}